<div class="well" align="center">
      <div class="contact-list">
        <h3 class="logo-brand", style="color: #222222 !important;"><%= @company.name %></h3>
        <p><%= @company.address %>, <%= @company.state %>, <%= @company.zipcode %></p>
        <p><%= link_to "#{@company.website}", "http://#{@company.website}" %></p>
        <p><%= @company.phone %></p>
      </div>
    <div>
  <br />
  <% if @company.user == current_user %>
    <div>
      <%= link_to "Edit company", edit_company_path(@company), class: "btn btn-primary" %>
      <%= link_to "Delete company", company_path(@company), method: :delete, confirm: "Are you sure?", class: "btn btn-danger" %>
    </div>
  <% end %>
</div>


</div>
<br />
<div align="center">
  <h1>Products</h1>
      <% @company.products.each do |p| %>
        <div class="col-md-4">
          <div class="well">
            <h3><%= link_to "#{p.name}", p  %></h3>
            <p><strong>$<%= p.price %></strong></p>
            <p><%= p.description %></p>
          </div>
        </div>
      <% end %>
</div>

<div align="center">[ <%= link_to "Back to Companies page", companies_path %> ]</div>